.band-img {
    width: 100px;
    display: block;
    margin: 0 auto;
  }

  .no-bullet{
    list-style-type: none;
  }
  
  iframe {
    display: block;
    margin: 20 px auto;
    max-width: 100%;
  }

  body{
    background-color: lavenderblush;
    color: #333
  }


  body {
    font-family: 'Arial', sans-serif; /* You can swap Arial for another font */
    font-size: 16px; /* Or whatever size looks good to you */
    color: #333; /* Optional: sets a clean, dark-gray text color */
  }
  
  .content-section {
    background-color: #fff;
    padding: 20px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  